* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 64px;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 23px;
    width: 74px;
    padding-left: 12px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 10px;
    margin-right: 16px;
}

a:link {
    color: rgba(0, 0, 0, 0.585);
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: rgba(0, 0, 0, 0.787);
    text-decoration: underline;
}

a:visited {
    color: rgba(0, 0, 0, 0.585);
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.hr-line {
    border-bottom: 1px solid #ebebeb;
}

.form-container {
    display: flex;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    height: 826px;
    margin: 40px 2% 0 45px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.text-container-left {
    min-width: 182.39px;
    width: 16%;
    min-height: 41px;
    color: #333;
}

.form-header-text-div {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.form-spacer {
    min-width: 570px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.text-container-right {
    display: table-cell;
    width: 381.19px;
    height: 30px;
    padding-left: 5px;
    vertical-align: middle;
}

.explainer-header-text-div {
    color: #777;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.text-div-left {
    height: 30px;
    width: 100%;
    color: #222;
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
}

.input-field {
    display: flex;
    width: 100%;
    height: 29px;
}

.input-field input {
    width: 100%;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    margin-top: 1px;
}

.input-field input:focus {
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.explainer-text-div {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    min-width: 160px;
    color: #555;
    font-size: 11px;
    padding-left: 11px;
    padding-top: 1px;
    vertical-align: middle;
    position: relative;
}

.example-text {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}
