* {
    font-family: Arial, sans-serif;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 10px;
    margin-right: 16px;
}

a:link {
    color: rgba(0, 0, 0, 0.585);
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: rgba(0, 0, 0, 0.787);
    text-decoration: underline;
}

a:visited {
    color: rgba(0, 0, 0, 0.585);
}

.centre-div {
    display: flex;
    justify-content: center;
}

.logo {
    margin-bottom: 30px;
    margin-top: 20px;
    height: 96px;
    width: 275px;
}

.input-field {
    display: flex;
    z-index: 3;
    height: 48px;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: calc(632px + 6px);
    width: auto;
    max-width: 584px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
}

.input-field:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
}

.input-field input {
    background: transparent;
    width: 76%;
    padding: 15px;
    border: 0;
    outline: 0;
    padding: 18px;
    font-size: medium;
}

.input-field i {
    margin-left: 15px;
    margin-top: 16px;
    color: #aeaeae;
}

.search-btn {
    background-color: #f8f9fa;
    border: 0.5px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px 0 12px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-btn:hover {
    border: 0.5px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}
