Python/venv-cs50p
Python/run.sh
Python/__pycache__
Python/tests/__pycache__
Python/sicilian.csv
Python/before.csv
Python/after.csv
Python/shirt.png
Python/muppets.zip
Python/before1.jpg
Python/before2.jpg
Python/before3.jpg
Python/after1.jpg
Python/shirtificate.png
UI/0.png
UI/1.png
UI/2.png
UI/3.png
UI/4.png
UI/5.png
UI/6.png
UI/7.png
UI/8.png
UI/9.png
