Python/venv-cs50p
Python/run.sh
Python/__pycache__
Python/tests/__pycache__
Python/sicilian.csv
Python/before.csv
Python/after.csv
Python/shirt.png
Python/muppets.zip
Python/before1.jpg
Python/before2.jpg
Python/before3.jpg
Python/after1.jpg
